doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
    body
        h1 新規登録
        form(action="/signin" method="POST" encType="multipart/form-data")
            input(type="text" name="username" placeholder="名前")
            br
            input(type="password" placeholder="パスワード" name="password")
            br
            input(type="file" name="avatar")
            br
            button(type="submit") 送信
            